:root {
  --pageSize: 800px;
  --formSize: 200px;
}

body {
  background-color: ghostwhite;
}
.head-container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  max-width: var(--pageSize);
  justify-content: space-around;
  background-color: white;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  column-gap: 20rem;
}

nav button {
  border: 2px solid;
  cursor: pointer;
  margin-inline: 0;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  background-color: white;
}

nav button:hover {
  background-color: rgb(14, 6, 42);
  color: white;
  border: 2px solid;
  border-color: black;
}

nav .home {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

nav .call {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.head-container hr {
  margin-block: 0;
  width: 100%;
  border: 1px solid grey;
}

.logo-icon {
  width: 50px;
}

.head-container > nav > button {
  margin-left: -5px;
}

.main-container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  font-family: "Quicksand", sans-serif;
}

/* Main PAge 1*/

.page1 {
  display: flex;
  flex-direction: column;
  width: var(--pageSize);
  justify-content: center;
  /* align-items: center; */
  background-color: white;
}

.page1-header {
  text-align: center;
  padding-block: 2rem;
}
.page1-main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.section1-container {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section1-author {
  margin-left: 2rem;
}

.section1-desc {
  margin-left: 2rem;
}
.section1-image {
  max-width: 500px;
  border-radius: 5px;
}

.section1-image > img {
  max-width: 100%;
}

.section1-author {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section1-author p {
  margin: 0;
  font-size: 0.8rem;
}

.section1-author-icon-container {
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
}

.section2-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  background-color: ghostwhite;
  padding: 1.5rem;
  max-width: var(--formSize);
}

.section2-title {
  flex: 1;
}

.section2-title-desc {
  font-size: 0.7rem;
  color: gray;
  font-weight: 500;
}

.section2-form {
  flex: 3;
  width: 200px;
}

.section2-form label {
  font-size: 0.8rem;
  font-weight: 900;
}

.section2-form div {
  margin-block: 1rem;
}

.section2-form .input {
  width: 100%;
  height: 40px;
  margin-block: 0.5rem;
  border-radius: 5px;
  border: 2.5px solid gainsboro;
}

.section2-form .dropdown {
  display: flex;
}

.section2-form .dropdown-input {
  width: 100%;
  height: 40px;

  border-top: 2.5px;
  border-left: 2.5px;
  border-bottom: 2.5px;
  border-style: solid;
  border-color: gainsboro;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 0;
}

.section2-form .dropdown-button {
  background-color: white;
  margin: 0;

  border-top: 2.5px;
  border-right: 2.5px;
  border-bottom: 2.5px;
  border-style: solid;
  border-color: gainsboro;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.section2-form .dropdown-content {
  display: none;
  margin-top: 47px;
  position: absolute;
  background-color: gray;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.dropdown:hover .dropdown-content > button {
  width: 100%;
  border: none;
  border-bottom: 2.5px solid gainsboro;
}

.dropdown:hover .dropdown-content > button:hover {
  background-color: white;
  color: black;
  border: 2.5px solid black;
}
.section2-form .send-button {
  width: 100%;
  height: 40px;
  background-color: rgb(14, 6, 42);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
}

.section2-form .send-button:hover {
  background-color: white;
  color: black;
  border: 2.5px solid black;
}

/* Main Page 1 */

.page1-footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: white;
  max-width: 500px;
  flex-direction: column;
}

.our-packages {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 3rem;
}

.page2 {
  display: flex;
  flex-direction: column;
  width: var(--pageSize);
  align-items: center;
  background-color: white;
}

.page2-section1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}

.page2-icon {
  border-radius: 50%;
  background-color: whitesmoke;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.7rem;
  height: 1.7rem;
  margin-inline: 1rem;
}

.section1-country {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  flex-wrap: wrap;
}

.section1-country-container {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin-inline: 1rem;
}

.page2-section1-container hr {
  width: 20%;
  border: 2px solid grey;
}

.section1-province {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.section1-province-container {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin-inline: 1rem;
}

.page2 > hr {
  width: 100%;
  border: 1px solid grey;
}

.page2-section2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 700px;
  margin-block: 2rem;
}

.page2-section2-container h1 {
  font-size: 2rem;
}

.page2-section2-container span {
  font-size: 0.8rem;
  text-align: center;
}

.page2-section2-container button {
  width: 180px;
  padding-block: 0.5rem;
  font-size: 1rem;
  background-color: rgb(14, 6, 42);
  color: white;
  border: none;
}

.page2-section2-container button:hover {
  background-color: white;
  color: black;
  border: 2.5px solid black;
}

.hr-footer {
  width: 100%;
  border: 1px solid grey;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--pageSize);
  margin-inline: auto;
  background-color: white;
  margin-bottom: 3rem;
  padding-block: 1rem;
}

footer img {
  width: 50px;
  margin-inline: 1rem;
}

footer span {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: gray;
}
